//text color
$text-primary: #1e293b;
$text-green: #166534;
$text-input: #64748b;
$text-white: white;

//size
$text-base: 16px;
$text-sm: 14px;
$text-lg: 20px;
$text-xl: 25px;

//bg
$bg-blue: #4f46e5;
$bg-white: #ffffff;
$bg-green: #ecfdf5;

//fw
$fw-400: 400;
$fw-500: 500;
$fw-600:600;
