@import "./variable";

*{
  margin: 0;
  padding: 0;
  font-family:"Roboto";
}

.container{
  width: 60%;
  height: 80vh;
  margin: 100px 300px;
  display: flex;
  flex-direction: row;
  gap:0;
  border-radius: 10px;
  .sidebar{
    width: 15%;
    height: 100%;
    background-color: $bg-white;
    
    .sidebar-content{
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;
      button{
        width: 80%;
        height: 40px;
      }
    }
    
  }
  .content{
    width: 85%;
    height: 100%;
    background-color: aqua;
    padding-left: 20px;
    .exercise-title{
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: $text-xl;
      margin-bottom: 30px;
      .title{
        color: $text-primary;
      }
    }
    .excercise-inputs{
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 30px;
      input{
        width: 30%;
        min-height: 40px;
        padding-left: 5px;
        border-radius: 10px;
        border: none;
      }
    }
    .calculate{
      background-color: $bg-blue;
      color: $text-white;
      font-size: $text-base;
      border-radius: 20px;
      padding: 10px 20px;
      border: none;
      transition: all 0.5s;
      margin-bottom: 30px;
      &:hover{
        transform: scale(0.9);
      }
    }
    .exercise-result{
      width: 80%;
      height: 40px;
      background-color: $bg-green;
      display: flex;
      gap: 10px;
      align-items: center;
      padding-left: 10px;
      border-radius: 10px;
    }
  }
}